# actualizar pip antes a la ultima version y luego:
# pip install -U flwr["simulation"]
# pip install -U ipywidgets
flwr==1.10.0
flwr-datasets==0.2.0
matplotlib==3.9.1
torch==2.3.1
torchvision==0.18.1
numpy==1.26.4
ray==2.10.0
ipykernel